.btn_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px
}
.form_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.message_cont{
    display: flex;
    flex-direction: row;
   
}
.top{
    display: flex;
    gap:20px;
    /* flex-wrap: wrap; */
}
