/* Add this CSS to make the table responsive in mobile */
@media (max-width: 500px) {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;

  }
  
  th,
  td {
    padding: 15px;
    text-align: left;
    max-width: 60px;
    
  }
  
  
  th {
    background-color: #f2f2f2;
    color:rgb(26, 25, 25);
  }
  
  tbody tr:nth-child(even) {
    background-color: #F8F6F4;
  }
  
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
  }
  
  button {
    margin: 4px;
  }
}


tbody tr:nth-child(even) {
  background-color: #f5f7fa;
  color: #2d2d2e;
}
tbody tr:nth-child(odd) {
  background-color: #ebeef5;
  color: #6c7293;
}
.page_btn{
  text-align: center;
}

/* style.css */

/* Adjust the gap between each row */
table {
  border-spacing: 0;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Apply padding to each box */
th,
td {
  padding-top: 15px;
  padding-bottom: 2%;
  text-align: center;
  word-wrap: break-word;
   /* Adjust the maximum width as needed */
  white-space: normal;
}

/* Add margin and padding to the container */
.table-container {
  color: aliceblue;
  margin-bottom: 16px;
  padding: 8px;
  
}


/* Adjust the gap between page buttons */
.page_btn button {
  margin-right: 2px;
}
.pagi{
  margin-top: 15px;
  margin-left: 10px;
  width: 30px;
  padding: 5px;
}


/* Add padding and border to search inputs */
th input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
}
.App{
  color:#f2f2f2;
  font-size: 8px;
}
.search{
  width:85%;
  border-radius: 5px;
}
.tb_{
  border-radius: 10px;

}

/* Add additional styling as needed */

